<div class="card">
    <h5 class="card-header text-white bg-primary text-center">Presentation Schedule Request</h5>
    
    <div class="card-body">
      <div class="row">
        <div class="col-2">
          <p class="h5" >Title of Study: </p>
        </div>
        <div class="col">
          <p class="lead" >Velit aute mollit ipsum ad dolor consectetur nulla officia culpa adipisicing exercitation fugiat tempor. Voluptate deserunt sit sunt nisi aliqua fugiat proident ea ut.  </p>
        </div>
        
      </div>

      <div class="row">
        <div class="col-2">
          <p class="h5" >Date: </p>
        </div>
        <div class="col">
          <p class="lead" > January 10, 2019 </p>
        </div>
      </div>
    
      <div class="row">
        <div class="col-2">
          <p class="h5" >Time: </p>
        </div>
        <div class="col">
          <p class="lead" > 10:00am-12:00nn </p>
        </div>
        
      </div>
      <div class="row">
        <div class="col-2">
          <p class="h5" >Place: </p>
        </div>
        <div class="col">
          <p class="lead" > CSM </p>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <p class="h5" >Approved by: </p>
        </div>
        <div class="col">
          <p class="lead" > Jon Henly O. Santillan </p>
        </div>
      </div>
      <div class="text-right">
        <a href="#" class="btn btn-danger ">Cancel Request</a>
      </div>
      
    </div>
  </div>
