<div class="container mt-4">
  <p class="h4 text-center mb-4">Change Panel Member Request</p>
  <div class="jumbotron"> 
    <form>
      <div class="form-group row">
        <label for="role" class="col-sm-3 col-form-label">Role:</label>
        <div class="col-sm-9">
          <input type="text" class="form-control-plaintext" id="role" value="Panel Member Role (e.g. Adviser)">
        </div>
      </div>
        
      <div class="form-group row">
        <label for="currPanelMember" class="col-sm-3 col-form-label">Current Panel Member:</label>
        <div class="col-sm-9">
          <input type="text" class="form-control-plaintext" id="currPanelMember" value="Current Panel Member">
        </div>
      </div>

      <div class="form-group row">
        <label for="newPanelMember" class="col-sm-3 col-form-label">New Panel Member:</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="newPanelMember" value="New Panel Member">
        </div>
      </div>

      <div class="form-group row">
        <label for="effectivity" class="col-sm-3 col-form-label">Effectivity:</label>
        <div class="col-sm-4">
          <select class="form-control" id="effectivity">
              <option>1st Semester</option>
              <option>2nd Semester</option>
          </select>
        </div>
        <div class="col-sm-4">
          <select class="form-control" id="effectivity">
              <option>A.Y. 2019-2020</option>
              <option>A.Y. 2020-2021</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label for="reason" class="col-sm-3 col-form-label">Reason:</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="reason" placeholder="Write your reason here.">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-7">
          
        </div>
        <button type="button" class="mr-3 col-sm-2 btn btn-danger" (click)="goToMyPanelList()">Cancel</button>
        <button type="submit" class="col-sm-2 btn btn-primary">Submit</button>
      </div>
    </form>
 
  </div>
  
</div>