<div class="container mt-4">
    <p class="h4 text-center mb-4">Create a Presentation Schedule Request Form</p>
    <div class="jumbotron mb-4"> 
      <form [formGroup]="createPSRequestForm" (ngSubmit)="onSubmit()" >
        <div class="form-group row">
          <label for="title" class="col-sm-2 col-form-label">Title:</label>
          <div class="col-sm-8">
            <input type="text" class="form-control-plaintext" formControlName="title" id="title">
          </div>
        </div>
  
        <div class="form-group row">
          <label for="abstract" class="col-sm-2 col-form-label">Abstract:</label>
          <div class="col-sm-8">
            <input type="text" class="form-control-plaintext" formControlName="abstract" id="abstract" >
          </div>
        </div>
  
        <div class="form-group row">
          <label for="file" class="col-sm-2 col-form-label">My Study File</label>
          <input type="text" class="ml-3 mr-3 col-sm-7 form-control" formControlName="studyFile" id="fileUpload" placeholder="File Name" disabled>
          <button type="button" class="mr-3 col-sm-2 btn btn-info" >View File</button>
        </div>
  
        <div class="form-group row">
          <label for="rstatus" class="col-sm-2 col-form-label">Research Status:</label>
          <div class="col-sm-8">
            <input type="text" class="form-control-plaintext" formControlName="rstatus" id="rstatus" >
          </div>
        </div>

        <div class="form-group row">
          <label for="date" class="col-sm-2 col-form-label">Date:</label>
          <div class="col-sm-8">
            <input type="date" class="form-control" formControlName="date" id="date" placeholder="Enter date here.">
          </div>
        </div>
        <div class="form-group row">
          <label for="timeFrom" class="col-sm-2 col-form-label">Time From:</label>
          <div class="col-sm-4">
            <input type="datetime" class="form-control" formControlName="timeFrom" id="timeFrom" placeholder="Enter time here.">
          </div>

          <label for="timeTo" class="col-sm-2 col-form-label">Time To:</label>
          <div class="col-sm-4">
            <input type="datetime" class="form-control" formControlName="timeTo" id="timeTo" placeholder="Enter time here.">
          </div>
        </div>
        
        <div class="form-group row">
          <label for="place" class="col-sm-2 col-form-label">Place:</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" formControlName="place" id="place" placeholder="Enter place here.">
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-7">
          </div>
          <button type="button" class="mr-3 col-sm-2 btn btn-primary" (click)="gotoRequests()">Cancel</button>
          <button type="button" class="col-sm-2 btn btn-danger" (click)="createPSRequest()">Create Request</button>
        </div>

        
        
      </form>
      
      
      
    </div>
  </div>