<div class="container mt-4">
  <p class="h4 text-center mb-4">Edit Professor Form</p>
  <div class="jumbotron">

    <form [formGroup]="editProfessorForm" (ngSubmit)="onSubmit()">
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">First Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" formControlName="firstName" id="inputEmail3"  placeholder="{{currentProfessor.getProfessorFname()}}">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPassword2" class="col-sm-2 col-form-label">Middle Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" formControlName="middleName" id="inputPassword2" placeholder="{{currentProfessor.getProfessorMname()}}">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Last Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" formControlName="lastName" id="inputPassword3" placeholder="{{currentProfessor.getProfessorLname()}}">
        </div>
      </div>
      <div class="form-group row">
        <label for="employeeNumber" class="col-sm-2 col-form-label">Employee Number</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" formControlName="employeeNumber" id="employeeNumber"  placeholder="{{currentProfessor.getProfessorEmpNum()}}">
        </div>
      </div>

      <div class="form-group row">
        <label for="position" class="col-sm-2 col-form-label">Position</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" formControlName="position" id="position" placeholder="{{currentProfessor.getProfessorPosition()}}">
        </div>
      </div>

      <div class="form-group row">
        <label for="title" class="col-sm-2 col-form-label">Title</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" formControlName="title"id="title" placeholder="{{currentProfessor.getProfessorTitle()}}">
        </div>
      </div>

      <div class="form-group row">
        <label for="dept" class="col-sm-2 col-form-label">Department</label>
        <div class="col-sm-10">
            <select class="form-control" formControlName="department" id="dept">
                <option></option>
                <option *ngFor = "let department of departments" [ngValue]="department">{{department.getDeptName()}}</option>
            </select>
          </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-7">

        </div>
        <button type="button" class="mr-3 col-sm-2 btn btn-danger" (click)="gotoProfessorsList()">Cancel</button>
        <button type="submit" class="col-sm-2 btn btn-primary">Submit</button>
      </div>
     
    </form>
  </div>
    
</div>