<div class="container mt-4">
    <p class="h4 text-center mb-4">Cancel Request</p>
    <div class="jumbotron"> 
      <form>
        <div class="form-group row">
          <label for="date" class="col-sm-2 col-form-label">Date Created:</label>
          <div class="col-sm-2">
            <input type="text" class="form-control-plaintext" id="date" value="January 5, 2018">
          </div>
          <label for="rtype" class="col-sm-2 col-form-label">Request Type: </label>
          <div class="col-sm-2">
            <input type="text" class="form-control-plaintext" id="rtype" value="Presentation Request">
          </div>
          <label for="rstatus" class="col-sm-2 col-form-label">Request Status: </label>
          <div class="col-sm-2">
            <input type="text" class="form-control-plaintext" id="rstatus" value="Unresponded 2/3">
          </div>
        </div>
        
        <div class="form-group row">
          <label for="approvedby" class="col-sm-2 col-form-label">Approved by:</label>
          <div class="col-sm-8">
            <input type="text" class="form-control-plaintext" id="approvedby" value="Jon Henly O. Santillan">
          </div>
        </div>
        
        <div class="form-group row">
          <div class="col-sm-12">
            <input type="text" class="form-control-plaintext text-center" value="Are you sure you want to cancel this request? If so, write your reason/s below. 
            ">
          </div>
        </div>
  
        <div class="form-group row">
          <label for="reason" class="col-sm-2 col-form-label">Reason:</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="reason" placeholder="Write your reason here.">
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-7">

          </div>
          <button type="button" class="mr-3 col-sm-2 btn btn-primary" (click)="gotoRequests()">Cancel</button>
          <button type="button" class="col-sm-2 btn btn-danger" >Proceed</button>
        </div>
        
  
      </form>
      
    </div>
  </div>