<div class="container mt-4">
  <p class="h4 text-center mb-4">Proposal Panel</p>
  <div class="jumbotron"> 
    <form >
      <div *ngIf="showAdviser" class="form-group row">
        <label for="adviser" class="col-sm-2 col-form-label">Adviser:</label>
        <div class="col-sm-8">
          <input type="text" class="form-control-plaintext" id="adviser" value="{{panel.getPanelAdviserName()}}">
        </div>
        <button type="button" class="col-sm-2 btn btn-primary" (click)="changePanelMemberRequest(panel.getPanelAdviserId(), 0)">Change</button>
      </div>

      <div *ngIf="showCoAdviser" class="form-group row">
        <label for="coAdviser" class="col-sm-2 col-form-label">Co-adviser:</label>
        <div class="col-sm-8">
          <input type="text" class="form-control-plaintext" id="coAdviser" value="{{panel.getPanelCoAdviserName()}}">
        </div>
        <button type="button" class="col-sm-2 btn btn-primary" (click)="changePanelMemberRequest(panel.getPanelCoAdviserId(), 1)">Change</button>
      </div>

      <div *ngIf="showPanelist1" class="form-group row">
        <label for="panelist1" class="col-sm-2 col-form-label">Panelist 1:</label>
        <div class="col-sm-8">
          <input type="text" class="form-control-plaintext" id="panelist1" value="{{panel.getPanelPanelist1Name()}}">
        </div>
        <button type="button" class="col-sm-2 btn btn-primary" (click)="changePanelMemberRequest(panel.getPanelPanelist1Id(), 2)">Change</button>
      </div>

      <div *ngIf="showPanelist2" class="form-group row">
        <label for="panelist2" class="col-sm-2 col-form-label">Panelist 2:</label>
        <div class="col-sm-8">
          <input type="text" class="form-control-plaintext" id="panelist2" value="{{panel.getPanelPanelist2Name()}}">
        </div>
        <button type="button" class="col-sm-2 btn btn-primary" (click)="changePanelMemberRequest(panel.getPanelPanelist2Id(), 3)">Change</button>
      </div>

      <div *ngIf="showPanelist3" class="form-group row">
        <label for="panelist3" class="col-sm-2 col-form-label">Panelist 3:</label>
        <div class="col-sm-8">
          <input type="text" class="form-control-plaintext" id="panelist3" value="{{panel.getPanelPanelist3Name()}}">
        </div>
        <button type="button" class="col-sm-2 btn btn-primary" (click)="changePanelMemberRequest(panel.getPanelPanelist3Id(), 4)">Change</button>
      </div>
      <div>
        <p class="h6">There are 4 panel variations. <br> </p>
        <p class="h6">Variation 1: (1)Adviser (1)Co-adviser (1)Panelist<br></p>
        <p class="h6">Variation 2: (1)Adviser (2)Panelist<br> </p>
        <p class="h6">Variation 3: (1)Adviser (1)Co-adviser (2)Panelist<br></p>
        <p class="h6">Variation 4: (1)Adviser (3)Panelist<br> </p>

      </div>
    </form>
    
  </div>
  <button type="button" class="col-sm-3 btn btn-primary" (click)="addPanelMemberRequest()" >Add Panel Member</button>
</div>