<form [formGroup]="requestsForm" >
  <div class="container mt-4 " >
    <div class="row">
      <div class="col"> 
        <table class="table table-sm table-hover ml-1">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Date Created</th>
              <th scope="col">Request Type</th>
              <th scope="col">Request Status</th>
            </tr>
          </thead>
        
          <tbody>
            <tr *ngIf="isImplementation; else elseBlock1">
              <td colspan="4">
                <label>You are on implementation stage. If you are ready to start your manuscript, create a PS request now.</label>
              </td>
            </tr>
            <ng-template #elseBlock1> 
              <tr *ngIf="isCompleted; else elseBlock2">
                <td colspan="4">
                  <label>Congratulations! You have completed your study!</label>
                </td>
              </tr> 
            </ng-template>
            <ng-template #elseBlock2>
 
              <ng-container *ngIf="is_there_request">
                  <tr *ngFor="let request of requests" (click)="viewRequestDetail(request)">
                    <th scope="row">1</th>
                    <td>{{getDateOnly(request.getRequestDateCreated())}} </td>
                    <td>{{request.getRequestType()}}</td>
                    <td>{{getRequestStatus(request)}}</td>
                  </tr>
              </ng-container>
              
            </ng-template>
          </tbody>
        </table> 
      </div>
    </div>
    
    <nav>
      <a routerLink="/student/requests/cancel-request" routerLinkActive="active"> Cancel Request </a>
      <a routerLink="/student/requests/cancel-appointment" routerLinkActive="active"> Cancel Appointment</a>
      <a routerLink="/student/requests/submit-revision" routerLinkActive="active"> Submit Revision </a>
    </nav>
  </div>
</form>     





<div class="align-self-left fixed-bottom" >
  <a class="btn btn-primary btn-sm mb-2 ml-2 text-white" role="button" (click)="isAllowedPSRequest()">Create Presentation Request</a>
  <a class="btn btn-primary btn-sm mb-2 ml-2 text-white" role="button" (click)="createPARequestForm()">Create Paper Approval Request</a>
  <div class="p-3 bg-primary "></div>
</div>