<div class="container mt-4 " >

    <a class="btn btn-primary btn-sm mb-2 ml-2 text-white" role="button" (click)="goToAddProfessorForm()">Add New Professor</a>
    
  
    <div class="row">
      <div class="col">
        <table class="table table-sm table-hover ml-1">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Emp Num</th>
              <th scope="col">Position</th>
              <th scope="col">Title</th>
              <th scope="col">Department</th>
              <th scope="col">College</th>
              <th scope="col">Is Other</th>
              <th scope="col">Is PM</th>
              <th scope="col">Username</th>
              <th scope="col">Password</th>
              <th scope="col"></th>
            </tr>
          </thead>
        
          <tbody>
            <tr *ngFor="let professor of professors">
                <th scope="row">#</th>
                <th scope="col"><small>{{professor.getProfessorLname()}}, {{professor.getProfessorFname()}} {{professor.getProfessorMname()}}</small></th>
                <th scope="col"><small>{{professor.getProfessorEmpNum()}}</small></th>
                <th scope="col"><small>{{professor.getProfessorPosition()}}</small></th>
                <th scope="col"><small>{{professor.getProfessorTitle()}}</small></th>
                <th scope="col"><small>{{professor.getProfessorDepartment()}}</small></th>
                <th scope="col"><small>{{professor.getProfessorCollege()}}</small></th>
                <th scope="col">
                  <div *ngIf="isOtherUser(professor.getProfessorIsOtherUser()); else elseBlock"><small>Yes</small></div>
                  <ng-template #elseBlock> 
                      <button type="button" class="mb-2 btn btn-sm btn-success">Add</button>
                  </ng-template>
                </th>
                <th scope="col">
                  <div *ngIf="isPanelMemberUser(professor.getProfessorIsPanelMemberUser()); else elseBlock"><small>Yes</small></div>
                  <ng-template #elseBlock> 
                      <button type="button" class="mb-2 btn btn-sm btn-success">Add</button>
                  </ng-template>
                </th>
                <th scope="col"><small>{{getUsername(professor.getProfessorId())}}</small></th>
                <th scope="col"><small>{{getPassword()}}</small></th>
                <th scope="col">
                    <button type="button" class="mb-2 btn btn-sm btn-danger">Delete</button>
                    <button type="button" class="ml-2 mb-2 btn btn-sm btn-info">Edit</button>
                </th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  <div class="align-self-left fixed-bottom" >
    <div class="p-3 bg-primary ">
  
    </div>
    
  </div>