<div class="container mt-4 " >

    <a class="btn btn-primary btn-sm mb-2 ml-2 text-white" role="button" (click)="goToAddStudentForm()">Add New Student</a>
    
  
    <div class="row">
      <div class="col">
        <table class="table table-sm table-hover ml-1">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Stud Num</th>
              <th scope="col">Course</th>
              <th scope="col">Department</th>
              <th scope="col">College</th>
              <th scope="col">Adviser</th>
              <th scope="col">Status</th>
              <th scope="col">Username</th>
              <th scope="col">Password</th>
              <th scope="col"></th>
            </tr>
          </thead>
        
          <tbody>
            <tr *ngFor="let studentuser of studentUsers">
              <th scope="row">#</th>
              <th scope="col">{{studentuser.stud_lname}}, {{studentuser.stud_fname}} {{studentuser.stud_mname}}</th>
              <th scope="col">{{studentuser.stud_num}}</th>
              <th scope="col">{{studentuser.stud_course}}</th>
              <th scope="col">{{studentuser.stud_dept}}</th>
              <th scope="col">{{studentuser.stud_college}}</th>
              <th scope="col">{{studentuser._id}}</th> 
              <th scope="col">{{studentuser.stud_presentation_id}}</th>
              <th scope="col">Username</th>
              <th scope="col">Password</th>
              <th scope="col">
                <button type="button" class="mb-2 btn btn-sm btn-danger">Delete</button>
                <button type="button" class="ml-2 mb-2 btn btn-sm btn-info">Edit</button>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  <div class="align-self-left fixed-bottom" >
    <div class="p-3 bg-primary ">
  
    </div>
    
  </div>