<div class="container mt-4">
    
    <p class="h4 text-center mb-4">Add Super User Form</p>
   
    <div class="jumbotron"> 
      <form>
        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-2 col-form-label">First Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputEmail3" placeholder="First Name">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword2" class="col-sm-2 col-form-label">Middle Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputPassword2" placeholder="Middle Name">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword3" class="col-sm-2 col-form-label">Last Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputPassword3" placeholder="Last Name">
          </div>
        </div>
        <div class="form-group row">
          <label for="employeeNumber" class="col-sm-2 col-form-label">Employee Number</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="employeeNumber" placeholder="Employee Number">
          </div>
        </div>
  
        <div class="form-group row">
          <label for="position" class="col-sm-2 col-form-label">Position</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="position" placeholder="Position">
          </div>
        </div>
  
        <div class="form-group row">
          <label for="title" class="col-sm-2 col-form-label">Title</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="title" placeholder="Title">
          </div>
        </div>
  
        <div class="form-group row">
          <label for="dept" class="col-sm-2 col-form-label">Department</label>
          <div class="col-sm-10">
              <select class="form-control" id="dept">
                  <option></option>
                  <option>Department 1</option>
                  <option>Department 2</option>
                  <option>Department 3</option>
                  
              </select>
            </div>
        </div>
        <div class="form-group row">          
          <div class="col-sm-7">
          </div>
          <button type="button" class="mr-3 col-sm-2 btn btn-danger" (click)="gotoSupersList()">Cancel</button>
          <button type="submit" class="col-sm-2 btn btn-primary">Submit</button>
      
        </div>
        
      </form>
    </div>
  </div>