<div class="container mt-4 " >
    <a class="btn btn-primary btn-sm mb-2 ml-2 text-white" role="button" (click)="goToAskForRevision()">Ask for Revision</a>
    <div class="row">
      <div class="col">
        <table class="table table-sm table-hover ml-1">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Date Created</th>
              <th scope="col">Name</th>
              <th scope="col">Student Number</th>
              <th scope="col">Request Type</th>
              <th scope="col">Request Status</th>
            </tr>
          </thead>
        
          <tbody>
            <tr>
                <th scope="row">#</th>
                <th scope="col">Date Created</th>
                <th scope="col">Name</th>
                <th scope="col">Student Number</th>
                <th scope="col">Request Type</th>
                <th scope="col">Request Status</th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  <div class="align-self-left fixed-bottom" >
    <div class="p-3 bg-primary ">
  
    </div>
    
  </div>