<div class="container mt-4">
  <p class="h4 text-center mb-4">Add Student Form</p>
  <div class="jumbotron">

    <form [formGroup]="addStudentUserForm" (ngSubmit)="onSubmit()">
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">First Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" formControlName="firstName" name="firstName" id="inputEmail3" placeholder="First Name">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPassword2" class="col-sm-2 col-form-label">Middle Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" formControlName="middleName" name="middleName"id="inputPassword2" placeholder="Middle Name">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Last Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" formControlName="lastName" name="lastName"id="inputPassword3" placeholder="Last Name">
        </div>
      </div>
      <div class="form-group row">
        <label for="studentNumber" class="col-sm-2 col-form-label">Student Number</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" formControlName="studentNumber" name="studentNumber"id="studentNumber" placeholder="Student Number">
        </div>
      </div>

      <div class="form-group row">
        <label for="year" class="col-sm-2 col-form-label">Year</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" formControlName="year" name="year" id="year" placeholder="Year">
        </div>
      </div>
      <div class="form-group row">
        <label for="courses" class="col-sm-2 col-form-label">Course</label>
        <div class="col-sm-10">
            <select class="form-control" formControlName="course" name="course" id="courses">
                <option [value]="" hidden selected>Choose a course</option>
                <option *ngFor="let course of courses">{{course.getCourseName()}}</option>  
            </select>
          </div>
      </div>
      <div class="form-group row">
        <label for="advisers" class="col-sm-2 col-form-label">Adviser</label>
        <div class="col-sm-10">
            <select class="form-control" formControlName="adviser" name="adviser" id="advisers">
                <option [value]="" hidden selected>Choose a panel member</option>
                <option *ngFor="let professorPanelMember of professorPanelMemberUsers">{{professorPanelMember.getProfessorLname()}}, {{professorPanelMember.getProfessorFname()}} {{professorPanelMember.getProfessorMname()}}</option>  
            </select>
          </div>
      </div>
      
      <div class="form-group row">
        <div class="col-sm-7">
          
        </div>
        <button type="button" class="mr-3 col-sm-2 btn btn-danger" (click)="gotoStudentsList()">Cancel</button>
        <button type="submit" class="col-sm-2 btn btn-primary">Submit</button>
      </div>
     
    </form>
  </div>
    
</div>