<div class="container-fluid-dark">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">UPM-URAMMS</a>
        <!--Add here -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!--Add here -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/help" routerLinkActive="active">Help</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login" routerLinkActive="active">Log in</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-sm-12 col-md-8 text-sm-center text-md-left">
            <div class="container-fluid ">
                <h2 class="display-12">
                    University of the Philippines Mindanao - Undergraduate Research Activities Management and Monitoring System (UPM-URAMMS)
                </h2>
                <p class="lead"> is a system built to help the students and faculty members of the university in managing and monitoring research activities. 
                    It uses the technology something.
                </p>
                <p class="lead"> 
                    Connect with the people related in your Research. Make and respond to requests online.  And many more!
                </p>
            </div>
        </div>
        <div class=" col-sm-12 col-md-4 ">
            <div class="jumbotron">
                <form>
                        <div class="row form-group">
                            <input type="username" class="form-control text-center" id="exampleInputEmail1"    placeholder="Username">
                        </div>
                        <div class="row form-group">
                            <input type="password" class="form-control text-center" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <div class="row">
                            <div class="col-12 text-center mb-3">
                                <button type="submit" class="btn btn-primary align-self-center" (click) = "login()" >Log in</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 text-center">
                                <a href="#" class="card-link">Don't have an acount?</a>
                            </div>
                        </div>
                    </form>
            </div>
            
        </div>
    </div>
</div>

<nav>
    <a routerLink="/about" routerLinkActive="active"> About </a>
    <a routerLink="/help" routerLinkActive="active"> Help </a>
    <a routerLink="/student/requests/request-list" routerLinkActive="active"> Student </a>
    <a routerLink="/panel-member/requests/request-list" routerLinkActive="active"> Panel Member </a>
    <a routerLink="/others/requests/request-list" routerLinkActive="active"> Others </a>
</nav>

<a class="btn btn-primary btn-lg" role="button" (click) = "login()">Learn more</a>