<div class="container mt-4">
    <p class="h4 text-center mb-4">Create a Paper Approval Request Form</p>
    <div class="jumbotron mb-4"> 
      <form form [formGroup]="createPARequestForm" (ngSubmit)="onSubmit()"  >
        <div class="form-group row">
          <label for="title" class="col-sm-2 col-form-label">Title:</label>
          <div class="col-sm-8">
            <input type="text" class="form-control-plaintext" formControlName="title" id="title" >
          </div>
        </div>
  
        <div class="form-group row">
          <label for="abstract" class="col-sm-2 col-form-label">Abstract:</label>
          <div class="col-sm-8">
            <input type="text" class="form-control-plaintext" formControlName="abstract" id="abstract" >
          </div>
        </div>
  
        <div class="form-group row">
          <label for="file" class="col-sm-2 col-form-label">My Study File</label>
          <input type="text" class="ml-3 mr-3 col-sm-7 form-control" formControlName="studyFile" id="file" placeholder="File Name" disabled>
          <button type="button" class="mr-3 col-sm-2 btn btn-info" (click)="changePanelMemberRequest()">View File</button>
        </div> 
  
        <div class="form-group row">
          <label for="rstatus" class="col-sm-2 col-form-label">Research Status:</label>
          <div class="col-sm-8">
            <input type="text" class="form-control-plaintext" formControlName="rstatus" id="rstatus" >
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-7">
          </div>
          <button type="button" class="mr-3 col-sm-2 btn btn-primary" (click)="gotoRequests()">Cancel</button>
          <button type="button" class="col-sm-2 btn btn-danger" >Create Request</button>
        </div>
      </form>
      
      
      
    </div>
  </div>