<div class="card">
    <h5 class="card-header text-white bg-primary text-center">Presentation Schedule Request</h5>
    
    <div class="card-body">
      <div class="row">
        <div class="col-2">
          <p class="h5" >Change Part: </p>
        </div>
        <div class="col">
          <p class="lead" > Title</p>
        </div>
        
      </div>

      <div class="row">
        <div class="col-2">
          <p class="h5" >From: </p>
        </div>
        <div class="col">
          <p class="lead" > Title 1</p>
        </div>
      </div>
    
      <div class="row">
        <div class="col-2">
          <p class="h5" >To: </p>
        </div>
        <div class="col">
          <p class="lead" > Title 2 </p>
        </div>
        
      </div>
      
      <div class="row">
        <div class="col-2">
          <p class="h5" >Approved by: </p>
        </div>
        <div class="col">
          <p class="lead" > Jon Henly O. Santillan </p>
        </div>
      </div>
      <div class="text-right">
        <a href="#" class="btn btn-danger ">Cancel Request</a>
      </div>
      
    </div>
  </div>
