<div class="container mt-4">
    
    <p class="h4 text-center mb-4">Change Proposal Request Form</p>
    
    <div class="jumbotron"> 
      <form>
        <div class="form-group row">
            <label for="part" class="col-sm-2 col-form-label">Part to change:</label>
            <div class="col-sm-10">
                <select class="form-control" id="part">
                    <option>(Choose part to change)</option>
                    <option>Title</option>
                    <option>Objectives</option>
                    <option>Methodology</option>
                    <option>Others</option>
                </select>
              </div>
          </div>
        <div class="form-group row">
          <label for="from" class="col-sm-2 col-form-label">From:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="from" placeholder="from">
          </div>
        </div>
        <div class="form-group row">
          <label for="to" class="col-sm-2 col-form-label">To:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="to" placeholder="to">
          </div>
        </div>
        <div class="form-group row">
          <label for="reason" class="col-sm-2 col-form-label">Reason:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="reason" placeholder="Reason">
          </div>
        </div>
        <div class="form-group row">
          <label for="rstatus" class="col-sm-2 col-form-label">Research Status: </label>
          <div class="col-sm-10">
          <input type="text" class="form-control-plaintext " id="rstatus" value="Research Status from database">
          </div>
        </div>
  
        <div class="form-group row">
          <div class="col-sm-7">
          </div>
          <button type="button" class="mr-3 col-sm-2 btn btn-danger" (click)="gotoMyStudy()">Cancel</button>
          <button type="submit" class="col-sm-2 btn btn-primary">Submit</button>
        
        </div>
        
      </form>
    </div>
  </div>